@import 'colors.scss';

.main {
  position: relative;
  top: 60px;
  right: 0px;
  left: 0px;
  margin-bottom: 140px;
  width: 100%;
  .linkbtnhome {
    display: flex;
    flex-direction: column;
    justify-content: left;
    .btnpost {
      width: 60px;
      color: $blue;
    }
  }
}