@import 'colors.scss';

.main {
  position: relative;
  top: 20px;
  .linkbtnhome {
    display: flex;
    flex-direction: column;
    justify-content: left;
    .btnpost {
      width: 60px;
      color: $blue;
    }
  }
}